In [10]:
import pandas as pd
import datetime as dt

calendar = pd.read_csv(r"C:\Users\Nguyen\Desktop\calendar.csv")

price = pd.read_csv(r"C:\Users\Nguyen\Desktop\sell_price.csv")
eva = pd.read_csv(r"C:\Users\Nguyen\Desktop\sales_train_evaluation.csv")

In [11]:
dates = calendar[["date", "wm_yr_wk", "d"]]

# add unit sold
d_cols = [col for col in eva.columns if col.startswith('d_')]
fix = eva[d_cols].stack().reset_index(level=1)
fix.columns = ['d','qty_sold']
my_data = eva.drop(d_cols, axis=1).join(fix)
my_data = my_data[["qty_sold", "item_id", "store_id","dept_id", "d"]]

In [12]:
#making cost column

price['cost_price'] = price.groupby(['item_id', 'store_id'])['sell_price'].transform(lambda x: 0.5 * x.min())

In [13]:
price = price[price["store_id"] == "CA_1"]

In [ ]:
price.head(10)

In [14]:
my_data = my_data[my_data["store_id"] == "CA_1"]

In [15]:
#merge to get price cost with item
my_data = my_data.merge(calendar, on= 'd')
my_data.head()

,qty_sold,item_id,store_id,dept_id,d,date,wm_yr_wk,weekday,wday,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,0,HOBBIES_1_001,CA_1,HOBBIES_1,d_1,2011-01-29,11101,Saturday,1,1,2011,NaN,NaN,NaN,NaN,0,0,0
1,0,HOBBIES_1_001,CA_1,HOBBIES_1,d_2,2011-01-30,11101,Sunday,2,1,2011,NaN,NaN,NaN,NaN,0,0,0
2,0,HOBBIES_1_001,CA_1,HOBBIES_1,d_3,2011-01-31,11101,Monday,3,1,2011,NaN,NaN,NaN,NaN,0,0,0
3,0,HOBBIES_1_001,CA_1,HOBBIES_1,d_4,2011-02-01,11101,Tuesday,4,2,2011,NaN,NaN,NaN,NaN,1,1,0
4,0,HOBBIES_1_001,CA_1,HOBBIES_1,d_5,2011-02-02,11101,Wednesday,5,2,2011,NaN,NaN,NaN,NaN,1,0,1

In [16]:
my_data = my_data[["item_id", "dept_id", "store_id", "qty_sold", "wm_yr_wk", "date", ]]

In [17]:
#merge to get date
my_data = my_data.merge(price, how="right", on = ["wm_yr_wk", "item_id"])
#merge to get date format

my_data.head()

,item_id,dept_id,store_id_x,qty_sold,wm_yr_wk,date,store_id_y,sell_price,cost_price
0,HOBBIES_1_001,HOBBIES_1,CA_1,0.0,11325,2013-07-13,CA_1,9.58,4.13
1,HOBBIES_1_001,HOBBIES_1,CA_1,0.0,11325,2013-07-14,CA_1,9.58,4.13
2,HOBBIES_1_001,HOBBIES_1,CA_1,0.0,11325,2013-07-15,CA_1,9.58,4.13
3,HOBBIES_1_001,HOBBIES_1,CA_1,0.0,11325,2013-07-16,CA_1,9.58,4.13
4,HOBBIES_1_001,HOBBIES_1,CA_1,0.0,11325,2013-07-17,CA_1,9.58,4.13

In [18]:
my_data['date'] = pd.to_datetime(my_data['date'], format="%Y-%m-%d")

In [20]:
my_data = my_data[my_data["dept_id"] == "HOBBIES_1"]

In [21]:
 my_data.to_csv("input_data.csv")

In [3]:
import pandas as pd
df =pd.read_csv(r"C:\Users\Nguyen\DS05_P5\input_data.csv")

In [4]:
df = df.drop(columns=['store_id_y'])

In [6]:
df.rename(columns={'store_id_x':'store_id'}, inplace=True)

In [7]:
df.head()

,Unnamed: 0,item_id,dept_id,store_id,qty_sold,wm_yr_wk,date,sell_price,cost_price
0,0,HOBBIES_1_001,HOBBIES_1,CA_1,0.0,11325,2013-07-13,9.58,4.13
1,1,HOBBIES_1_001,HOBBIES_1,CA_1,0.0,11325,2013-07-14,9.58,4.13
2,2,HOBBIES_1_001,HOBBIES_1,CA_1,0.0,11325,2013-07-15,9.58,4.13
3,3,HOBBIES_1_001,HOBBIES_1,CA_1,0.0,11325,2013-07-16,9.58,4.13
4,4,HOBBIES_1_001,HOBBIES_1,CA_1,0.0,11325,2013-07-17,9.58,4.13

In [8]:
 df.to_csv("input_data.csv")